<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Browse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipe_app/css/browse.css' %}">
</head>
<body>
    <h1>Foopie</h1>
    <div class="filter">
        <p>Filter stuff</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="picture">Picture</div>
            <h1>Recipe Name</h1>
            <p>Description</p>
        </div>
    </div>
</body>
</html>