<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="details">
        <p>{{recipe}}</p>
        <p>{{recipe.title}}</p>
        <img src="{{recipe.image}}" alt="Image">
        <p>Ready in Minutes: {{recipe.readyInMinutes}}</p>
        <p>Serving Size :{{recipe.servings}}</p>
        <p>Instructions: {{recipe.instructions}}</p>
    </div>
</body>
</html>