<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipe_app/css/login.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container">
    <navbar class="navbar navbar-light bg-light">Website Name</navbar>
        <div class="reg">
            <h2>Register</h2>
            <form action="/register" method="post"> {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input class="form-control" type="text"name="first_name">
                    <label for="last_name">Last Name</label>
                    <input class="form-control"  type="text" name="last_name">
                    <label for="email">Email</label>
                    <input class="form-control"  type="text" name="email">
                    <label for="pw">Password</label>
                    <input class="form-control"  type="password" name="pw">
                    <label for="pwconfirm">Confirm Password</label>
                    <input class="form-control"  type="password" name="pwconfirm">
                    <div class="error">
                            {% if messages%}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                    </div>
                    <p></p>
                    <button class="form-control">Register</button>
                    
                </div>
            </form>
        </div>
        <div class="log">
            <h2>Login</h2>
            <form action="/login"method="post"> {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control"  type="text" name="email">
                    <label for="pw">Password</label>
                    <input class="form-control"  type="password" name="password">
                    <div class="error">
                            {% if messages.error %}
                            <ul class="messages">
                                {% for message in messages.error %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                    </div>
                    <p></p>
                    <button class="form-control">Login</button>
                </div>
            </form>
        </div>
</body>
</html>