body {
    padding: 15px;
}
.navbar{
    position:relative;
}
.navbar .search{
    position:absolute;
    top: 5px;;
    right:20px;
}
.filter {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 100%;
    width:25%;
}

.container {
    display: inline-block;
    width: 70%;
    overflow-y: hidden;
}

.row {
    margin: 10px;
    text-align: center;
}

.picture {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 15px;
}

.contents {
    display: inline-block;
    padding: 5px;

}

.name {
    display: block;
    text-align: center;
}

.desc {
    display: inline-block;
}

.fav_link {
    text-align: right;
}

