html{
    background-color:white;
}
.container{
    position:relative;
    background-color:white;
    height:970px;
    width: 80%;
    padding:0;
}
.container .reg{
    background-color: #eee;
    border: 1px solid black;
    border-radius:10px;
    box-shadow:1px 2px 10px;
    width:40%;
    padding:10px;
    display:inline-block;
    position:absolute;
    top:230px;
    left:40px;
}
.container .log{
    border: 1px solid black;
    background-color: #eee;
    border-radius:10px;
    box-shadow:1px 2px 10px;
    padding:10px;
    position:absolute;
    top:330px;
    right:50px;
    width:40%;
    display:inline-block;
    vertical-align:middle;
    margin-right:1px;
}
.navbar{
    text-align:center;
    margin:0
}
.error{
    color:red;
}
.success{
    color:green;
}
